* {
  font-family: "Rubik", sans-serif;
  box-sizing: border-box;
}

body {
  color: #0b0b0b;
}

h1 {
  font-size: 22px;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 18px;
}

h5 {
  font-size: 16px;
  margin-bottom: 12px;
}

p.light {
  color: #545454;
}

.loader-modal {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
